<div class="product">
  <div class="container">
    <div
      class="product__inner"
      data-animate-offset="0"
      data-animate-delay="0.4"
      data-animate="animate__fadeInUp"
    >
      <div class="product__slider">
        <div class="product__top swiper">
          <div class="swiper-pagination"></div>

          <div class="product__btns">
            <div class="swiper-button__prev">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19 12H5"
                  stroke="#1C1E24"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 19L5 12L12 5"
                  stroke="#1C1E24"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="swiper-button__next">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 12H19"
                  stroke="#1C1E24"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 5L19 12L12 19"
                  stroke="#1C1E24"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="product__top--items swiper-wrapper">
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/detal-top.png"
            >
              <img src="images/detal-top.png" alt="" />
            </div>
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/detal-top.png"
            >
              <img src="images/detal-top.png" alt="" />
            </div>
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/detal-top.png"
            >
              <img src="images/detal-top.png" alt="" />
            </div>
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/detal-top.png"
            >
              <img src="images/detal-top.png" alt="" />
            </div>
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/detal-top.png"
            >
              <img src="images/detal-top.png" alt="" />
            </div>
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/detal-top.png"
            >
              <img src="images/detal-top.png" alt="" />
            </div>
            <div
              class="product__top--item swiper-slide"
              data-fancybox="gallery"
              data-src="images/detal-top.png"
            >
              <img src="images/detal-top.png" alt="" />
            </div>
          </div>
        </div>
        <div class="product__container swiper">
          <div class="product__container--items swiper-wrapper">
            <div class="product__container--item swiper-slide">
              <img src="images/det1.png" alt="" />
            </div>
            <div class="product__container--item swiper-slide">
              <img src="images/det1.png" alt="" />
            </div>
            <div class="product__container--item swiper-slide">
              <img src="images/det1.png" alt="" />
            </div>
            <div class="product__container--item swiper-slide">
              <img src="images/det1.png" alt="" />
            </div>
            <div class="product__container--item swiper-slide">
              <img src="images/det1.png" alt="" />
            </div>
            <div class="product__container--item swiper-slide">
              <img src="images/det1.png" alt="" />
            </div>
            <div class="product__container--item swiper-slide">
              <img src="images/det1.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="product__info">
        <div class="product__text">
          ККМ1 — надёжная и простая в использовании автоматическая машина
          для формирования и склеивания всех наиболее распространённых видов
          картонных лотков для фруктов, овощей, мяса, птицы, кондитерских
          изделий.
        </div>

        <a href="#callback" data-fancybox class="product__btn btn"
          >Оставить заявку
        </a>
      </div>
    </div>
  </div>
</div>
