<div class="about-mission">
  <div class="container">
    <div class="about-mission__inner" data-animate-offset="200"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp">
      <h2 class="about-mission__title title-small">Наша миссия</h2>

      <div class="about-mission__text">
        Обеспечить наших партнёров комплексными решениями по поставке
        технологического оборудования — от поставки современных решений
        и комплектующих до обеспечения расходными и упаковочными материалами,
        а также предоставления услуг сервисного обслуживания и технической
        модернизации.
      </div>
    </div>
  </div>
</div>
