<div class="header__menu menu">
  <div class="menu__wrapper">
    <ul class="menu__list">
      <!-- Многоуровневое меню -->
      <li class="menu__item dropdown">
        <a href="#">Оборудование</a>
        <div class="menu__mobile">
          <div class="menu__mobile--info">
            <span class="menu__mobile--back">
              <svg
                width="8"
                height="14"
                viewBox="0 0 8 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.70711 0.292893C8.09763 0.683417 8.09763 1.31658 7.70711 1.70711L2.41421 7L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292893 7.70711C-0.0976311 7.31658 -0.0976311 6.68342 0.292893 6.29289L6.29289 0.292893C6.68342 -0.0976311 7.31658 -0.0976311 7.70711 0.292893Z"
                  fill="#435882"
                />
              </svg>
              <p>Назад</p>
            </span>

            <div class="menu__mobile--name">Оборудование</div>
            <ul class="menu__sub-list">
              <li class="menu__item">
                <a href="#">Конвейерное оборудование</a>
              </li>
              <li class="menu__item"><a href="#">Групповая упаковка</a></li>
              <li class="menu__item">
                <a href="#">Автоматическая сборка гофротары</a>
              </li>
              <li class="menu__item"><a href="#">Упаковка паллет</a></li>
              <li class="menu__item">
                <a href="#">Маркировочное оборудование</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="menu__item dropdown">
        <a href="#">Упаковка</a>
        <div class="menu__mobile">
          <div class="menu__mobile--info">
            <span class="menu__mobile--back">
              <svg
                width="8"
                height="14"
                viewBox="0 0 8 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.70711 0.292893C8.09763 0.683417 8.09763 1.31658 7.70711 1.70711L2.41421 7L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292893 7.70711C-0.0976311 7.31658 -0.0976311 6.68342 0.292893 6.29289L6.29289 0.292893C6.68342 -0.0976311 7.31658 -0.0976311 7.70711 0.292893Z"
                  fill="#435882"
                />
              </svg>
              <p>Назад</p>
            </span>

            <div class="menu__mobile--name">Упаковка</div>
            <ul class="menu__sub-list">
              <li class="menu__item">
                <a href="#">Конвейерное оборудование</a>
              </li>
              <li class="menu__item"><a href="#">Групповая упаковка</a></li>
              <li class="menu__item">
                <a href="#">Автоматическая сборка гофротары</a>
              </li>
              <li class="menu__item"><a href="#">Упаковка паллет</a></li>
              <li class="menu__item">
                <a href="#">Маркировочное оборудование</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="menu__item dropdown">
        <a href="#">Расходные материалы</a>
        <div class="menu__mobile">
          <div class="menu__mobile--info">
            <span class="menu__mobile--back">
              <svg
                width="8"
                height="14"
                viewBox="0 0 8 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.70711 0.292893C8.09763 0.683417 8.09763 1.31658 7.70711 1.70711L2.41421 7L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292893 7.70711C-0.0976311 7.31658 -0.0976311 6.68342 0.292893 6.29289L6.29289 0.292893C6.68342 -0.0976311 7.31658 -0.0976311 7.70711 0.292893Z"
                  fill="#435882"
                />
              </svg>
              <p>Назад</p>
            </span>

            <div class="menu__mobile--name">Расходные материалы</div>
            <ul class="menu__sub-list">
              <li class="menu__item">
                <a href="#">Конвейерное оборудование</a>
              </li>
              <li class="menu__item"><a href="#">Групповая упаковка</a></li>
              <li class="menu__item">
                <a href="#">Автоматическая сборка гофротары</a>
              </li>
              <li class="menu__item"><a href="#">Упаковка паллет</a></li>
              <li class="menu__item">
                <a href="#">Маркировочное оборудование</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="menu__item dropdown">
        <a href="#">О нас</a>
        <div class="menu__mobile">
          <div class="menu__mobile--info">
            <span class="menu__mobile--back">
              <svg
                width="8"
                height="14"
                viewBox="0 0 8 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.70711 0.292893C8.09763 0.683417 8.09763 1.31658 7.70711 1.70711L2.41421 7L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292893 7.70711C-0.0976311 7.31658 -0.0976311 6.68342 0.292893 6.29289L6.29289 0.292893C6.68342 -0.0976311 7.31658 -0.0976311 7.70711 0.292893Z"
                  fill="#435882"
                />
              </svg>
              <p>Назад</p>
            </span>

            <div class="menu__mobile--name">О нас</div>
            <ul class="menu__sub-list">
              <li class="menu__item">
                <a href="#">Конвейерное оборудование</a>
              </li>
              <li class="menu__item"><a href="#">Групповая упаковка</a></li>
              <li class="menu__item">
                <a href="#">Автоматическая сборка гофротары</a>
              </li>
              <li class="menu__item"><a href="#">Упаковка паллет</a></li>
              <li class="menu__item">
                <a href="#">Маркировочное оборудование</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="menu__item"><a href="#">Проекты</a></li>
      <li class="menu__item"><a href="#">Контакты</a></li>
    </ul>
  </div>
</div>
