<div class="projects">
  <div class="container">
    <div class="projects__inner">
      <div class="projects__text">
        На этой странице представлены наши ключевые проекты по оснащению
        предприятий пищевой промышленности. Мы поставляем надежное оборудование,
        качественные запасные части и расходные материалы, обеспечивая
        бесперебойную работу вашего производства.
      </div>
      <div class="projects__items">
        <div class="proj-home__item">
          <div class="proj-home__img">
            <img src="images/1.webp" alt="" />
          </div>

          <div class="proj-home__name">
            Проект на молочном заводе «Сибирское Молоко»
          </div>
          <div class="proj-home__text">
            Наша компания была выбрана поставщиком аналогичного комплекса
            оборудования на площадке в Омске
          </div>

          <a href="#" class="proj-home__more">
            <span>Смотреть проект</span>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 12H19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M12 5L19 12L12 19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </a>
        </div>
        <div class="proj-home__item">
          <div class="proj-home__img">
            <img src="images/2.webp" alt="" />
          </div>

          <div class="proj-home__name">
            Поставка и интеграция оборудования для молочного завода в Тольятти
          </div>
          <div class="proj-home__text">
            Поставка и&nbsp;интеграция оборудования для&nbsp;молочного завода
            в&nbsp;Тольятти
          </div>

          <a href="#" class="proj-home__more">
            <span>Смотреть проект</span>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 12H19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M12 5L19 12L12 19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </a>
        </div>
        <div class="proj-home__item">
          <div class="proj-home__img">
            <img src="images/3.webp" alt="" />
          </div>

          <div class="proj-home__name">
            Проект на молочном заводе «Сибирское Молоко»
          </div>
          <div class="proj-home__text">
            Наша компания была выбрана поставщиком аналогичного комплекса
            оборудования на площадке в Омске
          </div>

          <a href="#" class="proj-home__more">
            <span>Смотреть проект</span>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 12H19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M12 5L19 12L12 19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </a>
        </div>
        <div class="proj-home__item">
          <div class="proj-home__img">
            <img src="images/3.webp" alt="" />
          </div>

          <div class="proj-home__name">
            Проект на молочном заводе «Сибирское Молоко»
          </div>
          <div class="proj-home__text">
            Наша компания была выбрана поставщиком аналогичного комплекса
            оборудования на площадке в Омске
          </div>

          <a href="#" class="proj-home__more">
            <span>Смотреть проект</span>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 12H19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M12 5L19 12L12 19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
