$Black-600: #6a768d;
$Black-700: #464e5e;
$Black-900: #1c1e24;
$Grey-200: #f6f6f6;
$Grey-300: #ebebeb;
$Grey-400: #cccccc;
$Grey-300: #858585;
$Blue-800: #566b97;
$Blue-850: #435882;
$Blue-900: #324773;
$Blue-950: #3a435e;
$Red-600: #d62e2e;
$Red-700: #b61f23;
$Link: #2d519a;
