<div class="comp-main">
  <div
    class="comp-main__bg"
    data-animate-offset="600"
    data-animate-delay="0.5"
    data-animate="animate__zoomIn"
  >
    <img src="images/comp-img.png" alt="" />
  </div>

  <div class="container">
    <div class="comp-main__inner">
      <h2
        class="comp-main__title title-small"
        data-animate-offset="300"
        data-animate-delay="0.4"
        data-animate="animate__fadeInUp"
      >
        О компании
      </h2>

      <div class="comp-main__text">
        <p
          data-animate-offset="300"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
        >
          Компания Itagro Group – официальный партнер известных европейских
          производителей оборудования на территории Российской Федерации.
        </p>
        <p
          data-animate-offset="300"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
        >
          Основа нашей работы — это квалифицированный подбор оборудования
          с учётом потребностей и специфики производства заказчика.
        </p>
      </div>

      <a
        href="#"
        class="comp-main__btn btn"
        data-animate-offset="300"
        data-animate-delay="0.4"
        data-animate="animate__fadeInUp"
        >Подробнее о компании</a
      >

      <div class="comp-main__items">
        <div class="comp-main__item">
          <div class="comp-main__number" data-number="15 ">15</div>
          <div class="comp-main__desc">лет на рынке</div>
        </div>
        <div class="comp-main__item">
          <div class="comp-main__number" data-number="100+">100+</div>
          <div class="comp-main__desc">реализовано проектов</div>
        </div>
        <div class="comp-main__item">
          <div class="comp-main__number" data-number="300+">300+</div>
          <div class="comp-main__desc">постоянных заказчиков</div>
        </div>
      </div>
    </div>
  </div>
</div>
