<div class="detal-stat">
  <div class="container">
    <div class="detal-stat__inner">
      <div class="detal-stat__item">
        <h3 class="title-small">Задача</h3>

        <p>
          Модернизация и оснащение молочного завода в Тольятти современным
          оборудованием для повышения эффективности производства, улучшения
          качества продукции и соответствия требованиям стандартов.
        </p>

        <span>Ключевые цели:</span>

        <ul>
          <li>Обеспечение бесперебойного производственного цикла</li>
          <li>Автоматизация ключевых процессов</li>
          <li>Снижение эксплуатационных затрат</li>
          <li>Соответствие нормам безопасности и экологичности</li>
        </ul>
      </div>

      <div class="detal-stat__item">
        <h3 class="title-small">Реализация</h3>

        <p>
          Мы тщательно изучаем технологические процессы предприятия,
          согласовываем техническое задание и подбираем оптимальное оборудование
          от проверенных производителей, учитывая все особенности будущего
          производства — от приёмки сырья до фасовки готовой продукции.
        </p>

        <span>1. Подбор оборудования</span>

        <ul>
          <li>Обеспечение бесперебойного производственного цикла</li>
          <li>Автоматизация ключевых процессов</li>
          <li>Снижение эксплуатационных затрат</li>
        </ul>

        <span>2. Поставка и логистика</span>

        <ul>
          <li>Обеспечение бесперебойного производственного цикла</li>
          <li>Автоматизация ключевых процессов</li>
          <li>Снижение эксплуатационных затрат</li>
        </ul>

        <span>3. Монтаж и интеграция</span>

        <ul>
          <li>Обеспечение бесперебойного производственного цикла</li>
          <li>Автоматизация ключевых процессов</li>
          <li>Снижение эксплуатационных затрат</li>
        </ul>
      </div>

      <div class="detal-stat__item">
        <h3 class="title-small">Результат</h3>

        <p>
          Результат нашей работы - современное, эффективное производство,
          готовое выпускать качественную молочную продукцию с минимальными
          эксплуатационными затратами. Мы сопровождаем проект на всех этапах,
          чтобы обеспечить полную готовность вашего предприятия к работе с
          первого дня. <br />
          <br />
          Готовы обсудить ваш проект? Наши специалисты разработают
          индивидуальное решение для вашего производства.
        </p>


        <div class="detal-stat__slider swiper">
          <div class="swiper-pagination"></div>
           <div class="detal-stat__imgs swiper-wrapper">
          <div class="detal-stat__img swiper-slide">
            <img src="images/stat1.png" alt="">
          </div>
           <div class="detal-stat__img swiper-slide">
            <img src="images/stat2.png" alt="">
          </div>
           <div class="detal-stat__img swiper-slide">
            <img src="images/stat3.png" alt="">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
