<div class="about-our">
  <div class="container">
    <div
      class="about-our__inner"
      data-animate-offset="200"
      data-animate-delay="0.4"
      data-animate="animate__fadeInUp"
    >
      <h2 class="about-our__title title-small">Наши возможности</h2>

      <div class="about-our__text">
        Уникальный опыт, накопленный специалистами компании, позволяет
        нам квалифицированно предлагать оптимальные технологические решения
        для различных направлений пищевой промышленности и подбирать
        оборудование, максимально учитывая производственные потребности
        и специфику производства заказчика.
        <br />
        <br />Мы предоставляем услуги по проектированию новых производств,
        осуществляем поставку упаковочных и расходных материалов в кратчайшие
        сроки.
      </div>
    </div>
  </div>
</div>
