<div class="product-home">
  <div
    class="product-home__map"
    class="comp-main__bg"
    data-animate-offset="600"
    data-animate-delay=".5"
    data-animate="animate__zoomIn"
  >
    <img src="images/home-map.png" alt="" />
  </div>

  <div class="product-home__bg">
    <img src="images/it-img.png" alt="" />
  </div>

  <div class="container">
    <div
      class="product-home__inner"
      data-animate-offset="300"
      data-animate-delay="1"
      data-animate="animate__fadeInUp"
    >
      <h2 class="product-home__title title-small">
        Поставляем оборудование по всей стране
      </h2>

      <div class="product-home__text">
        Специалисты Itagro Group тщательно изучают потребность клиента,
        производственные условия, используемое оборудование, предлагая такие
        решения, которые делают производство стабильным и экономически
        целесообразным.
      </div>
    </div>
  </div>
</div>
