<div class="product-home product-home-about">
  <div
    class="product-home__map"
    data-animate-offset="600"
    data-animate-delay=".5"
    data-animate="animate__zoomIn"
  >
    <img src="images/home-map.png" alt="" />
  </div>

  <div class="product-home__bg">
    <img src="images/it-img.png" alt="" />
  </div>

  <div class="container">
    <div class="product-home__inner">
      <h2
        class="product-home__subtitle"
        data-animate-offset="300"
        data-animate-delay="1"
        data-animate="animate__fadeInUp"
      >
        Нам доверяют более 300 компаний во всех регионах Российской Федерации
      </h2>
    </div>
  </div>
</div>
