<div class="showcase">
  <div
    class="showcase__bg"
    data-animate-offset="300"
    data-animate-delay="0.3"
    data-animate="animate__zoomIn"
  >
    <img src="images/bg-showcase.png" alt="" />
  </div>
  <div class="container">
    <div
      class="showcase__inner"
      data-animate-offset="300"
      data-animate-delay="1.6"
      data-animate="animate__zoomIn"
    >
      <h1 class="showcase__title title">
        Технологические решения для пищевой промышленности
      </h1>

      <p class="showcase__text">
        Мы проектируем производственные линии и предлагаем оптимальные
        технологические решения для пищевой промышленности.
      </p>

      <a href="#" class="showcase__btn btn btn-red">Каталог</a>
    </div>
  </div>

  <div class="showcase__animation">
    <div class="showcase__items">
      <div class="showcase__item">
        <img src="images/show-1.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-2.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-3.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-4.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-5.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-1.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-2.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-3.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-4.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-5.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-1.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-2.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-3.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-4.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-5.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-1.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-2.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-3.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-4.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-5.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-1.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-2.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-3.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-4.png" alt="" />
      </div>
      <div class="showcase__item">
        <img src="images/show-5.png" alt="" />
      </div>
    </div>
  </div>
</div>
