



<div class="about-team">
  <div class="container">
    <div class="about-team__inner"  data-animate-offset="200"
      data-animate-delay="0.4"
      data-animate="animate__fadeInUp">


      <h2 class="about-team__title title-small">Команда</h2>

      <div class="about-team__text">
        Высококвалифицированные специалисты в своей области, профессионалы, которые любят свое дело- основной движущий ресурс нашей компании. <br> <br>
Мы собрали команду профессионалов, которые нацелены на достижение общих цели, всегда отвечают за результат и способны оперативно и качественно решать любые поставленные задачи.

      </div>


     
    </div>
  </div>

   <div class="about-team__slider">

        <div class="about-team__items">

          <div class="about-team__item">
            <img src="images/t1.png" alt="">
          </div>
          <div class="about-team__item">
            <img src="images/t2.png" alt="">
          </div>
          <div class="about-team__item">
            <img src="images/t3.png" alt="">
          </div>
          <div class="about-team__item">
            <img src="images/t4.png" alt="">
          </div>
          <div class="about-team__item">
            <img src="images/t5.png" alt="">
          </div>
          <div class="about-team__item">
            <img src="images/t1.png" alt="">
          </div>
          <div class="about-team__item">
            <img src="images/t2.png" alt="">
          </div>
          <div class="about-team__item">
            <img src="images/t3.png" alt="">
          </div>
          <div class="about-team__item">
            <img src="images/t4.png" alt="">
          </div>
          <div class="about-team__item">
            <img src="images/t5.png" alt="">
          </div>
        </div>
      </div>
</div>