<div class="brand-home">
  <div class="brand-home__bg">
    <img src="images/brand-home.png" alt="" />
  </div>
  <div class="container">
    <div class="brand-home__inner">
      <h2 class="brand-home__title title-small">
        Сотрудничаем с проверенными брендами
      </h2>

      <div class="brand__animation">
        <div class="brand-home__items">
          <div class="brand-home__item" data-animate-offset="300"
        data-animate-delay="0.5"
        data-animate="animate__fadeInUp">
            <img src="images/b1.png" alt="" />
          </div>
          <div class="brand-home__item" data-animate-offset="300"
        data-animate-delay="0.5"
        data-animate="animate__fadeInUp">
            <img src="images/b2.png" alt="" />
          </div>
          <div class="brand-home__item" data-animate-offset="300"
        data-animate-delay="0.5"
        data-animate="animate__fadeInUp">
            <img src="images/b3.png" alt="" />
          </div>
          <div class="brand-home__item" data-animate-offset="300"
        data-animate-delay="0.5"
        data-animate="animate__fadeInUp">
            <img src="images/b4.png" alt="" />
          </div>
          <div class="brand-home__item" data-animate-offset="300"
        data-animate-delay="0.5"
        data-animate="animate__fadeInUp">
            <img src="images/b5.png" alt="" />
          </div>
          <div class="brand-home__item mobile">
            <img src="images/b1.png" alt="" />
          </div>
          <div class="brand-home__item mobile">
            <img src="images/b2.png" alt="" />
          </div>
          <div class="brand-home__item mobile">
            <img src="images/b3.png" alt="" />
          </div>
          <div class="brand-home__item mobile">
            <img src="images/b4.png" alt="" />
          </div>
          <div class="brand-home__item mobile">
            <img src="images/b5.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
