<div class="feed">
  <div class="container">
    <div class="feed__inner">
      <h2 class="feed__title title-small">
        Ответим на вопросы <br />
        и поможем с выбором
      </h2>

      <div class="feed__content">
        <div class="feed__form">
          <form action="#">
            <label class="field">
              <input type="text" placeholder="Имя" />
            </label>

            <label class="field">
              <div class="prefix">+7</div>
              <input type="text" placeholder="999 123-45-67" class="mask" />
            </label>

            <label class="field field--error">
              <input type="text" placeholder="E-mail" />
            </label>

            <label class="field">
              <textarea placeholder="Что вас интересует?"></textarea>
            </label>

            <label class="checkbox">
              <span class="checkbox__inner">
                <input type="checkbox" />
                <span></span>
              </span>
              <span class="checkbox__text">
                Я даю свое согласие на обработку персональных данных, в
                соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О
                персональных данных», на условиях и для целей, определенных в
                <a href="#">Согласии на обработку персональных данных </a>
              </span>
            </label>

            <button type="submit" class="feed__btn btn">Отправить</button>
          </form>
        </div>

        <div class="feed__info">
          <div class="feed__map">
            <div style="position: relative; overflow: hidden">
              <iframe
                src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=30.298548%2C60.023506&mode=search&oid=1208118830&ol=biz&z=17"
                width="100%"
                height="100%"
                frameborder="1"
                allowfullscreen="true"
                style="position: relative"
              ></iframe>
            </div>
          </div>

          <div class="feed__items">
            <div class="feed__item">
              <span class="feed__label">Телефон</span>
              <a href="#">+7 (812) 389-30-62</a>
            </div>
            <div class="feed__item">
              <span class="feed__label">Телефон</span>
              <a href="#">info@itagrogroup.ru</a>
            </div>
            <div class="feed__item">
              <span class="feed__label">Адрес</span>
              <p>
                197375, Россия, г. Санкт-Петербург, ул. Вербная, д. 27, литер А
              </p>
            </div>
            <div class="feed__item">
              <span class="feed__label">Время работы</span>
              <p>Понедельник - пятница, с 10:00 до 18:00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
