<div class="product-card">
  <div class="container">
    <div class="product-card__inner">
      <div
        class="product-card__top"
        data-animate-offset="200"
        data-animate-delay="0.4"
        data-animate="animate__fadeInUp"
      >
        <a href="#first" class="product-card__top--item active"
          ><span>Описание</span>
        </a>
        <a href="#second" class="product-card__top--item"
          ><span>Характеристики</span>
        </a>
        <a href="#third" class="product-card__top--item"
          ><span>Преимущества</span>
        </a>
        <a href="#fourth" class="product-card__top--item"
          ><span>Сфера применения </span></a
        >
        <a href="#five" class="product-card__top--item"
          ><span>Документы</span>
        </a>
      </div>

      <div class="product-card__items">
        <div
          class="product-card__item"
          data-animate-offset="200"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
          id="first"
        >
          <div class="product-card__label">Описание</div>

          <div class="product-card__desc">
            <p>
              Заготовки по одной подаются из магазина подачи присосками, работа
              присосок синхронизирована с главной передающей цепью. Далее
              посредством толкателей заготовки перемещаются к узлу формирования.
            </p>

            <p>
              В процессе горизонтального перемещения заготовок, происходит
              нанесение клея горячего плавления в требуемых местах. Затем в узле
              формирования заготовка приобретает форму лотка при помощи головы
              формирователя, происходит загиб верхних клапанов при помощи
              механических устройств.
            </p>
          </div>
        </div>

        <div
          class="product-card__item"
          data-animate-offset="200"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
          id="second"
        >
          <div class="product-card__label">Характеристики</div>

          <div class="product-chars">
            <div class="product-chars__item">
              <p>Производительность</p>
              <span>до 2400 лотков/час </span>
            </div>
            <div class="product-chars__item">
              <p>Производительность</p>
              <span>до 2400 лотков/час </span>
            </div>
            <div class="product-chars__item">
              <p>Производительность</p>
              <span>до 2400 лотков/час </span>
            </div>
            <div class="product-chars__item">
              <p>Производительность</p>
              <span>до 2400 лотков/час </span>
            </div>
            <div class="product-chars__item">
              <p>Производительность</p>
              <span>до 2400 лотков/час </span>
            </div>
          </div>
        </div>

        <div
          class="product-card__item"
          data-animate-offset="200"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
          id="third"
        >
          <div class="product-card__label">Преимущества</div>

          <div class="product-adva">
            <div class="product-adva__item">
              <div class="product-adva__img">
                <img src="images/adva-1.png" alt="" />
              </div>

              <div class="product-adva__text">Высокая производительность</div>
            </div>
            <div class="product-adva__item">
              <div class="product-adva__img">
                <img src="images/adva-2.png" alt="" />
              </div>

              <div class="product-adva__text">Быстрая смена формата</div>
            </div>
            <div class="product-adva__item">
              <div class="product-adva__img">
                <img src="images/adva-3.png" alt="" />
              </div>

              <div class="product-adva__text">
                Гофролотки различных конфигураций
              </div>
            </div>
            <div class="product-adva__item">
              <div class="product-adva__img">
                <img src="images/adva-4.png" alt="" />
              </div>

              <div class="product-adva__text">Низкий уровень шума</div>
            </div>
          </div>
        </div>

        <div
          class="product-card__item"
          data-animate-offset="200"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
          id="fourth"
        >
          <div class="product-card__label">Сфера применения</div>

          <ul class="product-card__list">
            <li>Плодовоовощная промышленность;</li>
            <li>Мясная промышленость;</li>
            <li>Птицеводство;</li>
            <li>Хлебобулочная и кондитерская промышленность.</li>
          </ul>
        </div>

        <div
          class="product-card__item"
          data-animate-offset="300"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
          id="five"
        >
          <div class="product-card__label">Документы</div>

          <div class="product-card__grids">
            <div class="product-card__grid">
              <span
                >Автоматическая машина DMS-модели ККМ-1 для формирования и
                склеивания локтов из гофрированного картона</span
              >
              <a href="#" class="product-card__save btn">
                Скачать файл
                <svg
                  width="25"
                  height="24"
                  viewBox="0 0 25 24"
                  fill="none"
                  xmlns="http://www.w3.org/3000/svg"
                >
                  <path
                    d="M21.5 15V19C21.5 19.5304 21.2893 20.0391 20.9142 20.4142C20.5391 20.7893 20.0304 21 19.5 21H5.5C4.96957 21 4.46086 20.7893 4.08579 20.4142C3.71071 20.0391 3.5 19.5304 3.5 19V15"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7.5 10L12.5 15L17.5 10"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12.5 15V3"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            <div class="product-card__grid">
              <span>Каталог оборудования Itagro Group</span>
              <a href="#" class="product-card__save btn">
                Скачать файл
                <svg
                  width="25"
                  height="24"
                  viewBox="0 0 25 24"
                  fill="none"
                  xmlns="http://www.w3.org/3000/svg"
                >
                  <path
                    d="M21.5 15V19C21.5 19.5304 21.2893 20.0391 20.9142 20.4142C20.5391 20.7893 20.0304 21 19.5 21H5.5C4.96957 21 4.46086 20.7893 4.08579 20.4142C3.71071 20.0391 3.5 19.5304 3.5 19V15"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7.5 10L12.5 15L17.5 10"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12.5 15V3"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
