<div class="catalog-proz">
  <div class="catalog-proz__bg">
    <img src="images/proz-before.png" alt="" />
  </div>
  <div class="container">
    <div class="catalog-proz__inner">
      <div class="catalog-proz__top">
        <div class="catalog-proz__description">
          Термоголовка – один из самых важных элементов термотрансферного
          принтера. В большинстве случаев, именно от ее состояния зависит
          качество печати этикетки. Правильно подобранная, оригинальная
          термоголовка обеспечит надежную и стабильную работу термотрансферного
          принтера.
          <br />
          <br />
          Мы предлагаем Вам высококачественные оригинальные термоголовки для
          любых термотрансферных принтеров в наличии со склада в
          Санкт-Петербурге и на заказ, с минимальным сроком поставки.
        </div>
      </div>

      <div class="catalog-proz__items">
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="" />
          </div>

          <div class="catalog-proz__text">Ruhle</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr3.png" alt="" />
          </div>

          <div class="catalog-proz__text">Robopac</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr4.png" alt="" />
          </div>

          <div class="catalog-proz__text">Holac</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr5.png" alt="" />
          </div>

          <div class="catalog-proz__text">Fomaco</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr6.png" alt="" />
          </div>

          <div class="catalog-proz__text">Foodlogistik</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr7.png" alt="" />
          </div>

          <div class="catalog-proz__text">Inject Star</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="" />
          </div>

          <div class="catalog-proz__text">Inject Star</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="" />
          </div>

          <div class="catalog-proz__text">Inject Star</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="" />
          </div>

          <div class="catalog-proz__text">Inject Star</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="" />
          </div>

          <div class="catalog-proz__text">Inject Star</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="" />
          </div>

          <div class="catalog-proz__text">Inject Star</div>
        </div>

        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="" />
          </div>

          <div class="catalog-proz__text">Inject Star</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="" />
          </div>

          <div class="catalog-proz__text">Inject Star</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="" />
          </div>

          <div class="catalog-proz__text">Inject Star</div>
        </div>
        <div class="catalog-proz__item">
          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="" />
          </div>

          <div class="catalog-proz__text">Inject Star</div>
        </div>
      </div>
    </div>
  </div>
</div>
