<div class="catalog-proz">
  <div class="catalog-proz__bg">
    <img src="images/proz-before.png" alt="" />
  </div>
  <div class="container">
    <div class="catalog-proz__inner">
      <div class="catalog-proz__top">
        <div class="catalog-proz__description">
          Термопечатающие головки для принтеров CAB моделей: A2+,A4+, A4.3+,
          A6+, A8+, MACH1, MACH2, MACH4, EOS1, EOS2, EOS4, EOS5, SQUIS 2/4/6.
        </div>

        <a href="#" class="catalog-proz__btn btn">Оставить заявку</a>
      </div>

      <div class="catalog-cad">
        <div class="catalog-cad__top">
          <span>Название</span>
          <span>Артикул</span>
        </div>

        <div class="catalog-cad__items">
          <div class="catalog-cad__item">
            <p>Печатающая термоголовка CAB A4+ / X, 300 dpi</p>
            <span>5954072.001</span>
          </div>
          <div class="catalog-cad__item">
            <p>Печатающая термоголовка CAB A4+ / X, 300 dpi</p>
            <span>5954072.001</span>
          </div>
          <div class="catalog-cad__item">
            <p>Печатающая термоголовка CAB A4+ / X, 300 dpi</p>
            <span>5954072.001</span>
          </div>
          <div class="catalog-cad__item">
            <p>Печатающая термоголовка CAB A4+ / X, 300 dpi</p>
            <span>5954072.001</span>
          </div>
          <div class="catalog-cad__item">
            <p>Печатающая термоголовка CAB A4+ / X, 300 dpi</p>
            <span>5954072.001</span>
          </div>
          <div class="catalog-cad__item">
            <p>Печатающая термоголовка CAB A4+ / X, 300 dpi</p>
            <span>5954072.001</span>
          </div>
          <div class="catalog-cad__item">
            <p>Печатающая термоголовка CAB A4+ / X, 300 dpi</p>
            <span>5954072.001</span>
          </div>
          <div class="catalog-cad__item">
            <p>Печатающая термоголовка CAB A4+ / X, 300 dpi</p>
            <span>5954072.001</span>
          </div>
          <div class="catalog-cad__item">
            <p>Печатающая термоголовка CAB A4+ / X, 300 dpi</p>
            <span>5954072.001</span>
          </div>
          <div class="catalog-cad__item">
            <p>Печатающая термоголовка CAB A4+ / X, 300 dpi</p>
            <span>5954072.001</span>
          </div>
          <div class="catalog-cad__item">
            <p>Печатающая термоголовка CAB A4+ / X, 300 dpi</p>
            <span>5954072.001</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
