<div class="catalog-proz">
  <div class="catalog-proz__bg">

    <img src="images/proz-before.png" alt="">
  </div>
  <div class="container">
    <div class="catalog-proz__inner">
      <div class="catalog-proz__top">
        <span class="catalog-proz__title"
          >Мы осуществляем поставки запасных частей для широкого спектра
          производственного оборудования</span
        >
        <div class="catalog-proz__description">
          Многолетний опыт работы в данной сфере и наличие на собственном складе
          многих позиций, позволяет нам минимизировать сроки поставки, а
          квалифицированные сотрудники оперативно помогут Вам с подбором
          необходимой позиции. Предлагаем Вашему вниманию только оригинальные
          запасные части, конкурентные цены, а также индивидуальные условия
          оплаты.
        </div>
        <div class="catalog-proz__desc">
          Основными нашими направлениями являются поставки запасных частей таких
          производителей, как:
          <span>
            Ilpra, Haloila, Omori, Robopac, REX Technologies, DIGI, Poly-Clip,
            Maurer-Atmos, Maja, Treif, Laska, PFM, Sealpac, Inject Star, Inotec,
            Foodlogistik, Fomaco, Holac, Alco, Ruhle, Italian Pack,
            Cosmapack.</span
          >
        </div>

        <a href="#" class="catalog-proz__btn btn">Оставить заявку</a>
      </div>


      <div class="catalog-proz__items">
        <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Ruhle
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr3.png" alt="">
          </div>

          <div class="catalog-proz__text">
           Robopac
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr4.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Holac
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr5.png" alt="">
          </div>

          <div class="catalog-proz__text">
           Fomaco
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr6.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Foodlogistik
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr7.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Inject Star
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Inject Star
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Inject Star
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Inject Star
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Inject Star
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Inject Star
          </div>
        </div>

         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Inject Star
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Inject Star
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Inject Star
          </div>
        </div>
         <div class="catalog-proz__item">

          <div class="catalog-proz__img">
            <img src="images/pr1.png" alt="">
          </div>

          <div class="catalog-proz__text">
            Inject Star
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
