<div class="proj-home">
  <div class="container">
    <div class="proj-home__inner">
      <div class="proj-home__top">
        <h2 class="proj-home__title title-small">
          Воплощаем в жизнь самые амбициозные проекты
        </h2>
        <a href="#" class="proj-home__btn btn">Все проекты</a>
      </div>

      <div class="proj-home__items">
        <div class="proj-home__item" data-animate-offset="300"
        data-animate-delay="0.4"
        data-animate="animate__fadeInUp">
          <div class="proj-home__img">
            <img src="images/1.png" alt="" />
          </div>

          <div class="proj-home__name">
            Проект на молочном заводе «Сибирское Молоко»
          </div>
          <div class="proj-home__text">
            Наша компания была выбрана поставщиком аналогичного комплекса
            оборудования на площадке в Омске
          </div>

          <a href="#" class="proj-home__more">
            <span>Смотреть проект</span>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 12H19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 5L19 12L12 19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
        <div class="proj-home__item" data-animate-offset="300"
        data-animate-delay="0.6"
        data-animate="animate__fadeInUp">
          <div class="proj-home__img">
            <img src="images/2.png" alt="" />
          </div>

          <div class="proj-home__name">
            Поставка и интеграция оборудования для молочного завода в Тольятти
          </div>
          <div class="proj-home__text">
            Поставка и интеграция оборудования для молочного завода в Тольятти
          </div>

          <a href="#" class="proj-home__more">
            <span>Смотреть проект</span>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 12H19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 5L19 12L12 19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
        <div class="proj-home__item" data-animate-offset="300"
        data-animate-delay="0.8"
        data-animate="animate__fadeInUp">
          <div class="proj-home__img">
            <img src="images/3.png" alt="" />
          </div>

          <div class="proj-home__name">
            Проект на молочном заводе «Сибирское Молоко»
          </div>
          <div class="proj-home__text">
            Наша компания была выбрана поставщиком аналогичного комплекса
            оборудования на площадке в Омске
          </div>

          <a href="#" class="proj-home__more">
            <span>Смотреть проект</span>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 12H19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 5L19 12L12 19"
                stroke="#324773"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>


         <a href="#" class="proj-home__btn btn mobile">Все проекты</a>
    </div>
  </div>
</div>
