<div class="about-prin">
  <div class="about-prin__bg">
    <img src="images/about-prin.png" alt="" />
  </div>

  <div class="container">
    <div class="about-prin__inner">
      <h2 class="about-prin__title title-small">Наши принципы</h2>

      <div class="about-prin__items">
        <div class="about-prin__item">
          <p>Профессионализм</p>

          <span
            >Профессионализм каждого сотрудника в отдельности и всей команды как
            единого целого. Это одно из основных и обязательных качеств для
            сотрудников нашей компании, наряду с порядочностью, честностью и
            ответственностью.
          </span>
        </div>
        <div class="about-prin__item">
          <p>Честность и открытость</p>

          <span>
            Мы честны и открыты, как внутри компании, так и с ее заказчиками.
            Всегда соблюдаем наши обязательства и договорённости, поэтому нам
            доверяют.
          </span>
        </div>
        <div class="about-prin__item">
          <p>Постоянное развитие</p>

          <span>
            Высококвалифицированные специалисты дают возможность компании быстро
            и эффективно развиваться, а стратегия помогает компании расти,
            выходить на новые рынки, успешно конкурировать и преодолевать
            кризисы.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
