@use '../../../style/scss/variables.scss' as *;

.about-main {
  background: #435882;
  position: relative;
  min-height: 950px;
  height: 100%;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 991px) {
    min-height: inherit;
  }

  &__img {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 991px) {
      display: none;
    }
  }

  &__inner {
    max-width: 670px;

    @media only screen and (max-width: 991px) {
      max-width: 100%;
      padding: 88px 0;
    }
  }

  &__title {
    margin-bottom: 40px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 25px;
    }
  }

  &__text {
    opacity: 0.8;
    color: $Grey-200;
    margin-bottom: 60px;
    font-size: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
      margin-bottom: 40px;
    }
    
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid $Grey-200;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 600;
    color: #fff;


    &:hover {
      color: #ccc;

      svg {
        path {
          stroke: #ccc;
        }
      }
    }

    @media only screen and (max-width: 991px) {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
