<div class="about-main">
  <div class="container">
    <div class="about-main__inner">
      <h2
        class="about-main__title title-small"
        data-animate-offset="100"
        data-animate-delay="0.4"
        data-animate="animate__fadeInUp"
      >
        Наши решения
      </h2>

      <div
        class="about-main__text"
        data-animate-offset="100"
        data-animate-delay="0.4"
        data-animate="animate__fadeInUp"
      >
        Специализируемся на поставке оборудования, запасных частей и расходных
        материалов для предприятий пищевой промышленности.
      </div>

      <div class="about-main__items">
        <a
          href="#"
          class="about-main__item"
          data-animate-offset="100"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
        >
          <span>Оборудование</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 12H19"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 5L19 12L12 19"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
        <a
          href="#"
          class="about-main__item"
          data-animate-offset="100"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
        >
          <span>Упаковка</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 12H19"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 5L19 12L12 19"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
        <a
          href="#"
          class="about-main__item"
          data-animate-offset="100"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
        >
          <span>Расходные материалы</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 12H19"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 5L19 12L12 19"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div
    class="about-main__img"
    data-animate-offset="400"
    data-animate-delay="0.8"
    data-animate="animate__zoomIn"
  >
    <img src="images/about-main.png" alt="" />
  </div>
</div>
