<div class="about-cust">
  <div class="container">
    <div class="about-cust__inner">
      <h2 class="about-cust__title title-small">Нашими заказчиками являются</h2>

      <div class="about-cust__items">
        <div
          class="about-cust__item"
          data-animate-offset="200"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
        >
          <div class="about-cust__img">
            <img src="images/cust-1.png" alt="" />
          </div>

          <div class="about-cust__name">Птицефабрики</div>
        </div>
        <div
          class="about-cust__item"
          data-animate-offset="200"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
        >
          <div class="about-cust__img">
            <img src="images/cust-2.png" alt="" />
          </div>

          <div class="about-cust__name">Мясокомбинаты</div>
        </div>
        <div
          class="about-cust__item"
          data-animate-offset="200"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
        >
          <div class="about-cust__img">
            <img src="images/cust-3.png" alt="" />
          </div>

          <div class="about-cust__name">Молочные предприятия</div>
        </div>
        <div
          class="about-cust__item"
          data-animate-offset="200"
          data-animate-delay="0.4"
          data-animate="animate__fadeInUp"
        >
          <div class="about-cust__img">
            <img src="images/cust-4.png" alt="" />
          </div>

          <div class="about-cust__name">Сельхозпредприятия</div>
        </div>
      </div>
    </div>
  </div>
</div>
