<div class="dov-main">
  <div class="container">
    <div class="dov-main__inner">
      <div class="dov-main__top">
        <h2 class="dov-main__title title-small">Нам доверяют</h2>

        <a href="#" class="dov-main__btn btn">Стать партнёром</a>
      </div>

      <div class="dov-main__animation">
        <div class="dov-main__items">
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d1.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d2.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d3.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d4.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d5.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d6.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d7.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d8.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d9.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d10.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d11.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d12.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d13.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d14.png" alt="" />
          </div>
          <div class="dov-main__item"  data-animate-offset="300"
          data-animate-delay="1"
          data-animate="animate__fadeInUp">
            <img src="images/d15.png" alt="" />
          </div>
        </div>
      </div>

      <a href="#" class="dov-main__btn btn mobile">Стать партнёром</a>
    </div>
  </div>
</div>
