<div class="product-more">
  <div class="container">
    <div class="product-more__inner">
      <div class="product-more__top">
        <h2 class="product-more__title">Смотрите также</h2>

        <div class="product-more__btns">
          <div class="swiper-button__prev product-more__prev">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19 12H5"
                  stroke="#1C1E24"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 19L5 12L12 5"
                  stroke="#1C1E24"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="swiper-button__next product-more__next" >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 12H19"
                  stroke="#1C1E24"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 5L19 12L12 19"
                  stroke="#1C1E24"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
        </div>
      </div>

      <div class="product-more__container swiper">
        <div class="swiper-pagination"></div>

        <div class="product-more__items swiper-wrapper">
          <div class="product-more__item swiper-slide">
            <a href="#" class="card">
              <div class="card__img">
                <img src="images/c1.png" alt="" />
              </div>

              <div class="card__info">
                <div class="card__arrow">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7 17L17 7"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7 7H17V17"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>

                <div class="card__name">
                  Заклейщик гофрокороба Robotape 50 МЕ
                </div>
              </div>
            </a>
          </div>
           <div class="product-more__item swiper-slide">
            <a href="#" class="card">
              <div class="card__img">
                <img src="images/c1.png" alt="" />
              </div>

              <div class="card__info">
                <div class="card__arrow">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7 17L17 7"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7 7H17V17"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>

                <div class="card__name">
                  Заклейщик гофрокороба Robotape 50 МЕ
                </div>
              </div>
            </a>
          </div>
           <div class="product-more__item swiper-slide">
            <a href="#" class="card">
              <div class="card__img">
                <img src="images/c1.png" alt="" />
              </div>

              <div class="card__info">
                <div class="card__arrow">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7 17L17 7"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7 7H17V17"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>

                <div class="card__name">
                  Заклейщик гофрокороба Robotape 50 МЕ
                </div>
              </div>
            </a>
          </div>
           <div class="product-more__item swiper-slide">
            <a href="#" class="card">
              <div class="card__img">
                <img src="images/c1.png" alt="" />
              </div>

              <div class="card__info">
                <div class="card__arrow">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7 17L17 7"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7 7H17V17"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>

                <div class="card__name">
                  Заклейщик гофрокороба Robotape 50 МЕ
                </div>
              </div>
            </a>
          </div>
           <div class="product-more__item swiper-slide">
            <a href="#" class="card">
              <div class="card__img">
                <img src="images/c1.png" alt="" />
              </div>

              <div class="card__info">
                <div class="card__arrow">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7 17L17 7"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7 7H17V17"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>

                <div class="card__name">
                  Заклейщик гофрокороба Robotape 50 МЕ
                </div>
              </div>
            </a>
          </div>
           <div class="product-more__item swiper-slide">
            <a href="#" class="card">
              <div class="card__img">
                <img src="images/c1.png" alt="" />
              </div>

              <div class="card__info">
                <div class="card__arrow">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7 17L17 7"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7 7H17V17"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>

                <div class="card__name">
                  Заклейщик гофрокороба Robotape 50 МЕ
                </div>
              </div>
            </a>
          </div>
           <div class="product-more__item swiper-slide">
            <a href="#" class="card">
              <div class="card__img">
                <img src="images/c1.png" alt="" />
              </div>

              <div class="card__info">
                <div class="card__arrow">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7 17L17 7"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7 7H17V17"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>

                <div class="card__name">
                  Заклейщик гофрокороба Robotape 50 МЕ
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
